/* Header.css */
header {
  background-color: #007bff;
  padding: 20px;
  color: white;
  text-align: center;
}

.search-container {
  margin-bottom: 20px;
}

.sort-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

input[type="text"] {
  width: 300px;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

button {
  background-color: #0056b3;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #004080;
}
